@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.inputContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 484px;
  height: 48px;
  padding: 0 24px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid $black-color;
  @include noselect;
}

.label {
  @include Body;
  @include noselect;
  display: block;
  margin-bottom: 16px;
  text-align:start;
}

.input {
  @include Body;
  border: none;
  outline: none;
  flex-grow: 1;
}

.error {
  @include Body;
  display: block;
  text-align:start;
  margin-top: 8px;
  color: $error-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}

.warning {
  color: $error-color;
  border: 1px solid $error-color;

  & input {
    color: $error-color;
  }
}
