@import '../../../globalStyle/mixins';
@import '../../../globalStyle/variables';

.datePicker {
  width: 100%;

  & > div {
    height: auto;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $grey-200-color;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 14px;
    @include Body;

    &:invalid {
      @include Body;
      display: block;
      text-align:start;
      margin-top: 8px;
      color: $error-color;
    }
  }

  &__container {
    width: 100%;
  }

  &__inputContainer {
    width: 100%;
  }

  &__calendar {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
    @include Body;
  }

  &__label {
    @include Body3;
    display: block;
    margin-bottom: 8px;
    text-align: start;
    color: $grey-color;
  }
}

// не работает
.react-calendar__tile--now {
  background: #029992;
}
