@import '../../../globalStyle/mixins.scss';
@import '../../../globalStyle/variables';

.SearchSection {
    width: 100%;
    min-height: 310px;
    padding: 60px 0;
    background-color: $grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataBlock {
    @include SectionContainer;
    max-width: 846px;
    min-height: 183px;
    display: flex;
    flex-direction: column;
}
.title {
    @include Header;
    color: $white-color;
    margin-bottom: 48px;
    text-align: center;
}
.fastButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    max-width: 846px;
    @include SectionContainer;
}
