@use '../../../globalStyle/variables.scss' as v;
@use '../../../globalStyle/mixins' as m;


.imageCardsSection {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    @include m.SectionContainer;
    max-width: 1280px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__headerContainer {
    width: 100%;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__headerTitle {
    @include m.Desktop_H2;
    color: v.$black1B-color;
  }

  &__headerLink {
    @include m.Link;
    color: v.$accent-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  &__headerLink:hover {
    color: v.$accent_on_hover-color;
  }

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }

  &__cardItem {
    width: 100%;
    position: relative;
    min-width: 100px;
  }
}

