@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.80);
    height: 32px;
    padding: 10px 16px;
    box-shadow: 0 4px 24px 0 rgba(27, 27, 27, 0.08);
  
    &:hover {
      background-color: $white-on-hover-color;
    }

    &:hover .icon {
      width: 16px;
      margin-left: 12px;
    }

    &:active {
      background-color: $white-click;
    }
  }

.text {
  color: $black-color;
  @include Body3;
}

.icon {
  width: 0;
  margin: 0;
  overflow: hidden;
  transition: width 0.2s ease-in, margin-left 0.2s ease-in;
}
