@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.universalInput {
  display: flex;
  align-items: center;
  gap: 12px;
  //width: 484px;
  width: 100%;
  padding-right: 24px;
  flex-shrink: 0;
  @include noselect;
  transition: padding 0.5s ease;
  position: relative;

  &_border_black {
    border-bottom: 1px solid $black-color;
  }

  &_border_white {
    border-bottom: 1px solid $white-color;
    color: $white-color;
  }

  &_border_white > &__label {
    color: $white-on-click-color !important;
  }

  &__container {
    position: relative;
    max-width: 484px;
    width: 100%;
  }

  &__label {
    @include Body;
    position: absolute;
    bottom: -3px;
    left: 5px;
    display: block;
    margin-bottom: 16px;
    text-align: start;
    color: $grey-color;
    transition: transform .15s ease-in, font-size .1s ease-in;
  }

  &__input {
    @include Body;
    flex-grow: 1;
    width: 100%;
    padding: 13px 24px 13px 0;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba(0, 0, 0, 0);
    }
  }

  &__input:not(:placeholder-shown) ~ &__label,
  &__input:focus ~ &__label {
    @include Body3;
    color: $grey-color;
    transform: translate(-4px, -38px);
  }

  &:has(&__input:not(:placeholder-shown)),
  &:has(&__input:focus) {
    padding-top: 25px;
  }

  &__input:valid ~ &__label {
    @include Body3;
    color: $grey-color;
    transform: translate(-4px, -38px);
  }

  &:has(&__input:valid) {
    padding-top: 25px;
  }

  &__container:has(&__input:focus) &__errorDescription {
    display: inline;
  }

  &__errorContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 4px;
  }

  &__errorMessage {
    @include Body;
    display: inline-block;
    text-align: start;
    margin-top: 8px;
    color: $error-color;
  }

  &__errorDescription {
    display: none;
    @include Body;
    color: $grey-color;
  }

  &__warning {
    color: $error-color;
    border-color: $error-color;

    & input {
      color: $error-color;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}
