@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.universalInput {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding-right: 24px;
  flex-shrink: 0;
  @include noselect;
  transition: padding 0.5s ease;
  position: relative;

  &_border_bottom {
    border-bottom: 1px solid;
  }

  &_border_full {
    border: 1px solid;
    border-radius: 8px;
  }

  &_border_black {
    border-color: $black-color;
  }

  &_border_white {
    border-color: $white-color;
    color: $white-color;
  }

  &_border_grey {
    border-color: $grey-200-color;
    color: $grey-500-color;
  }

  &_border_white > &__label {
    color: $white-on-click-color !important;
  }

  &__container {
    position: relative;
    max-width: 484px;
    width: 100%;
  }

  &__container:has(&__staticLabel) {
    padding-top: 28px;
  }

  &__staticLabel {
    @include Body3;
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    margin-bottom: 16px;
    text-align: start;
    color: $grey-color;
  }

  &__label {
    @include Body;
    position: absolute;
    bottom: -3px;
    left: 5px;
    display: block;
    margin-bottom: 16px;
    text-align: start;
    color: $grey-color;
    transition: transform .15s ease-in, font-size .1s ease-in;
  }

  &__input {
    @include Body;
    flex-grow: 1;
    width: 100%;
    padding: 13px 24px 13px 0;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba(0, 0, 0, 0);
    }
  }

  &__staticLabel ~ &__input {
    padding: 10px 0 10px 14px;
  }

  &__input:not(:placeholder-shown) ~ &__label,
  &__input:focus ~ &__label {
    @include Body3;
    color: $grey-color;
    transform: translate(-4px, -38px);

    @media screen and (max-width: 1440px) {
      transform: translate(-4px, -28px);
    }
  }

  &:has(&__input:not(:placeholder-shown) and &__label),
  &:has(&__input:focus and &__label) {
    padding-top: 25px;

    @media screen and (max-width: 1440px) {
      padding-top: 10px;
    }
  }

  &__input:valid ~ &__label {
    @include Body3;
    color: $grey-color;
    transform: translate(-4px, -28px);
  }

  &:has(&__input:valid and &__label) {
    padding-top: 10px;

    @media screen and (max-width: 1440px) {
      padding-top: 15px;
    }
  }

  &__container:has(&__input:focus) &__errorDescription {
    display: inline;
  }

  &__errorContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 4px;

    @media screen and (max-width: 1440px) {
      gap: 6px;
    }
  }

  &__errorMessage {
    @include Body;
    display: inline-block;
    text-align: start;
    color: $error-color;

    @media screen and (max-width: 1440px) {
      @include Body3;
    }
  }

  &__errorDescription {
    display: none;
    @include Body;
    color: $grey-color;

    @media screen and (max-width: 1440px) {
      @include Body3;
    }
  }

  &__warning {
    color: $error-color;
    border-color: $error-color;

    & input {
      color: $error-color;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}
