@import '../../globalStyle/mixins';

.main {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  padding: 48px 0;
  max-width: 1280px;
  @include SectionContainer;

  // need adaptive <873px

  @media screen and  (max-width: 872px) {

  }
}
