@use '../../../globalStyle/mixins' as m;
@use '../../../globalStyle/variables' as v;

.passwordChangeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__title {
    @include m.Header;
  }

  &__description {
    @include m.Body;
    margin: 0;
  }

  &__error {
    width: 100%;
    margin-top: 8px;
    @include m.Body;
    color: v.$error-color;
  }
}
