@use '../../../globalStyle/variables.scss' as v;
@use '../../../globalStyle/mixins.scss' as m;
.button{
    width: 278px;
    height: 47px;
    background-color: v.$accent-color;
    border-radius: 8px;
    cursor: pointer;
}
.text{
    color: v.$white-color;
    @include m.Body;
}