.confirmationForm {
    box-sizing: border-box;
    width: 580px;
    height: min-content;
    padding: 32px 48px;
    position: relative;
    border-radius: 16px;
    border: 1px solid black;
}
.confirmationFormTitle {
    font-size: 28px;
    line-height: 39px;
    font-weight: 700;
    text-align: center;
    width: 283px;
    justify-self: center;
}
.confirmationFormText {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
.confirmationFormTextSend {
    margin: 0;
}
.confirmationFormConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
    gap: 32px;
}
.confirmationFormSendPassword {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    width: 100%;
}
.confirmationFormButtonLink {
    margin: 0 0 0 8px;
    padding: 0;
    font-size: 16px;
    color: #029992;
    height: 23px;
    text-decoration-line: underline;
}
