/*
    Универсальный миксин
    для подключения любого шрифта и начертания
*/
@mixin fonts($family, $style: normal, $weight: 400, $dir, $type) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src:
      url($dir + $family + $type) format('truetype'),
      url($dir + $family + $type) format('woff'),
      url($dir + $family + $type) format('woff2');
  }
}
/*  
    Набор "Типографика" из Фигмы
    Похоже, что на данный момент будем использовать
    именно этот набор
*/
@mixin Header0 {
  font-family: Raleway-Bold, sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 140%;
}
@mixin Header {
  font-family: Raleway-Bold, sans-serif;
  font-size: 28px;
  line-height: 140%;
}
@mixin Header2 {
  font-family: Raleway-Bold, sans-serif;
  font-size: 20px;
  line-height: 140%;
} 
@mixin Body {
  font-family: Raleway-Medium, sans-serif;
  font-size: 16px;
  line-height: 145%;
}

@mixin Body2 {  // этот миксин не нужен, это копия миксина выше, который Body. font-weight указывать не нужно, оно уже в шрифте зашито
  font-family: Raleway-Medium, sans-serif;
  font-size: 16px;
  line-height: 145%;
  font-weight: 500;
}
@mixin Body1 {
  font-family: Raleway-Medium, sans-serif;
  font-size: 18px;
  line-height: 145%;
}
@mixin Body3 {
  font-family: Raleway-Medium, sans-serif;
  font-size: 14px;
  line-height: 142%;
}
@mixin Link {
  font-family: Raleway-Medium, sans-serif;
  font-size: 16px;
  line-height: 155%;
}
@mixin Link_medium{
  font-family: Raleway-Medium, sans-serif;
  font-size: 14px;
  line-height: 145%;
}
@mixin Link_small{
  font-family: Raleway-Regular, sans-serif;
  font-size: 12px;
  line-height: 140%;
}
@mixin Code {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
}
@mixin Numbers {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
}

@mixin container {
  width: 100%;
  max-width: calc(1280px + 16px * 2);
  margin: 0 auto;
  padding: 0 16px;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* IE / Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
