//Colors
$white-color: #ffffff;
$black-color: #060606;
$accent-color: #029992;
$accent_on_hover-color: #007873;
$disabled-color: #afbfb5;
$link-color: #2263c4;
$error_background-color: #ffd1d1;
$error-color: #cd0b0b;
$dark-green: #00403D;
