//Colors
$white-color: #ffffff;
$black-color: #060606;
$black1B-color: #1B1B1B;
$accent-color: #029992;
$accent_on_hover-color: #007873;
$disabled-color: #afbfb5;
$link-color: #2263c4;
$error_background-color: #ffd1d1;
$error-color: #cd0b0b;
$text-green-color: #223E3C;
$dark-green: #00403D;
$new-notification-color: #ef4f4f;
$dark-green-color: #00403d;
$text-green-color: #223e3c;
$white-on-hover-color: #f1f1f1;
$white-on-click-color: #e7e7e7;
$new-notification: #EF4F4F;
$white-hower: #F1F1F1;
$white-click: #E7E7E7;
$grey-color: #4B4B4B;
$light_green-color: #CEDFD5;
