@font-face {
  font-family: 'Raleway-Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./Raleway/Raleway-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./Raleway/Raleway-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Raleway/Raleway-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./Raleway/Raleway-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./Raleway/Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./Raleway/Raleway-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Raleway/Raleway-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-LightItalic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Raleway/Raleway-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Raleway/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Raleway/Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Raleway/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Thin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./Raleway/Raleway-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./Raleway/Raleway-ThinItalic.ttf') format('truetype');
}
