@import '../../../globalStyle/mixins';

.profileForm {
  width: 100%;

  &__form {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 30px;
      padding: 0 calc((100% - 320px) / 2);
    }
  }

  &__formContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  &__avatarContainer {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  &__avatarImage {
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background: $white-on-click-color;
  }

  &__avatarLoadInput {
    position: absolute;
    bottom: 4px;
    right: 15px;
  }

  &__title {
    margin: 13px 0 31px 33px;
  }

  &__label {
    @include Body;
    text-align: right;
  }

  &__inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }

  &__inputsTitle {
    @include Header2;
    margin-bottom: 3px;
  }

  &__submitBtn {
    margin-top: 14px;
    align-self: flex-end;

    @media screen and (max-width: 767px) {
      max-width: 320px;
    }
  }
}
