@use '../../globalStyle/mixins' as m;
@use '../../globalStyle/variables' as v;

.timer {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 0 20px 20px 20px;
  background-color: white;
  @include m.Body;
  color: v.$black-color;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__text {
    margin: 0 8px 0 0;
    padding: 0;
    @include m.Body;
  }

  &__countdown {
    margin: 0;
    padding: 0;
    @include m.Numbers;
    color: v.$accent-color;
  }
}
