.main {
    position: relative;
}
.main:hover {
    opacity: 0.7;
    cursor: pointer;
}

.test {
    color: black;
    background-color: aqua;
    position: absolute;
    left: 50px;
    bottom: 10px;
}
