@import '../../globalStyle/mixins.scss';
@import '../../globalStyle/variables.scss';

.header {
    padding: 16px 0;
    background: $white-color;
}

.headerContainer {
    @include SectionContainer;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    margin: 0 auto;
}

.leftBlock {
    display: flex;
    align-items: center;
    column-gap: 80px;
}

.rightBlock {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.rightBlockAuthor {
    display: flex;
    align-items: center;
    column-gap: 24px;
}


.menu {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.uploadButton {
    min-width: 208px;
    height: 47px;
    border: 1px solid $accent-color;
    border-radius: 8px;
    color: $accent-color;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.12s ease-in, border 0.12s ease-in, color 0.12s ease-in;
}

.uploadButton:hover {
    background-color: $accent-color;
    color: white;
}

.uploadButton::after {
    content: 'Загрузить работу';
    color: $accent-color;
    @include Body2;
}

.uploadButton:hover::after {
    content: 'Загрузить работу';
    color: white;
}
