@use '../../../globalStyle/variables' as v;
@use '../../../globalStyle/mixins' as m;

.section {
    @include m.SectionContainer;
    max-width: 1440px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataContainer{
    width: 1280px;
    padding: 48px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    //flex-wrap: wrap;
    gap: 24px;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}
.image{
    max-width: 580px;
    width: 100%;
    min-height: 240px;
    max-height: 420px;
    border-radius: 8px;
    background-color: v.$white-on-click-color;
    object-fit: cover;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
        max-height: 400px;
    }
}
.text{
    max-width: 480px;
    @include m.Body1;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
    }
}
.header{
    @include m.Header;
    margin-bottom: 20px;
}
.header_span{
    @include m.Header;
    color: v.$accent-color;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    height: 100%;
}
