@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  gap: 16px;
  border-radius: 8px;
  background: $white-color;
  border: 1px solid $black-color;
  width: 484px;
  height: 48px;
  @include Body;
  @include noselect;

  &:hover {
    border-color: $accent_on_hover-color;
  }

}




