@import '../../../globalStyle/mixins.scss';

.container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  max-width: 580px;
  max-height: 973px;
  border-radius: 16px;
}

.title {
  @include Header;
}

.checkBox {
  @include Body;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 16px;
}
