//.checkbox {
//    height: 24px;
//    width: 24px;
//    border: 1px solid rgba(6, 6, 6, 1);
//    border-radius: 4px;
//    padding: 0;
//}
@use '../../globalStyle/variables' as v;

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  opacity: 0;

  &__visible {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    border: 1px solid v.$black-color;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
  }

  &__label {
    display: block;
  }

  &:checked + &__visible {
    border: none;
    background: v.$accent-color url(../../assets/images/icons/checkmark.svg);
  }

  &:disabled + &__visible {
    border: 1px solid grey;
  }

  &:focus + &__visible {
    box-shadow: 0 0 5px #fff6c5;
  }
}
