@use '../../globalStyle/variables' as v;
@use '../../globalStyle/mixins' as m;

.footer {
  background-color: v.$dark-green;
  padding: 48px 80px;
  color: v.$white-color;
  margin: 0 auto;
  width: 100%;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    padding-bottom: 48px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 737px;
  }

  &__newsletter {
    max-width: 302px;
  }

  &__bottom {
    max-width: 1280px;
    width: 100%;
    padding-top: 48px;
    border-top: solid 0.5px rgba(255, 255, 255, .7);
  }

  &__bottomText {
    @include m.Link_medium;
    opacity: 0.7;
  }
}
