.passwordRemindForm {
    box-sizing: border-box;
    width: 580px;
    height: min-content;
    padding: 32px 48px;
    position: relative;
    border-radius: 16px;
    border: 1px solid black;
}
.passwordRemindFormConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: 'Raleway';
}
.passwordRemindFormTitle {
    font-size: 28px;
    line-height: 39px;
    font-weight: 700;
    text-align: center;
    justify-self: center;
}
.passwordRemindFormText {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
