@use '../../../globalStyle/mixins' as m;
@use '../../../globalStyle/variables' as v;

.passwordRecoveryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__title {
    @include m.Header;
    text-align: center; // del
    justify-self: center; // del
  }

  &__description {
    @include m.Body;
    text-align: left;
    margin: 0;
  }

  &__error {
    @include m.Body;
    color: v.$error-color;
    opacity: 0.84;
  }
}
