@use '../../globalStyle/variables' as v;
@use '../../globalStyle/mixins' as m;

.code-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__error {
    margin: 32px 0 0;
    @include m.Body;
    color: v.$error-color;
    opacity: 0.84;
  }
}

