.back-button {
    position: absolute;
    top: 40px;
    left: 48px;
    width: 40px;
    height: 22px;
    border: none;
    padding: 0;
    background: url("./BackPopupButton.svg") center no-repeat;
}
