@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #029992;
  color: var(--white, #fff);

  @include Body;
  @include noselect;

  &:hover {
    background: $accent_on_hover-color;
  }

  &:disabled {
    background: $disabled-color;
  }
}

.large {
  width: 484px;
  height: 48px;
}

.medium {
  width: 174px;
  height: 48px;
}

.small_medium {
  width: 302px;
  height: 47px;
}
