@import '/src/globalStyle/variables.scss';
@import '/src/globalStyle/mixins.scss';

.universalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  padding: 13px 24px;
  @include Body;
  @include noselect;
  transition: background 0.12s ease-in, border 0.12s ease-in, color 0.12s ease-in;

  &:disabled {
    cursor: no-drop;
  }

  // styles
  &_filled_green {
    background: $accent-color;
    border: none;
    color: $white-color;

    &:hover {
      background: $accent_on_hover-color;
      color: $white-color;
    }

    &:disabled:hover {
      background: $accent-color;
      color: $white-color;
    }
  }

  &_border_green {
    background: $white-color;
    border: 1px solid $accent-color;
    color: $accent-color;

    &:hover {
      background: $accent_on_hover-color;
      border: 1px solid $accent_on_hover-color;
      color: $white-color;
    }

    &:disabled:hover {
      background: $white-color;
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  &_border_black {
    background: $white-color;
    border: 1px solid $dark-green-color;
    color: $dark-green-color;

    &:hover {
      background: $accent_on_hover-color;
      border: 1px solid $accent_on_hover-color;
      color: $white-color;
    }

    &:disabled:hover {
      background: $white-color;
      border: 1px solid $dark-green-color;
      color: $dark-green-color;
    }
  }
}
