@import '../../../globalStyle/mixins.scss';

.dropdown {
  position: relative;
}

.button {
  @include Body;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px;
}

.dropdown_content {
  @include Body;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 36px;  
  z-index: 10;
  transform: translate(calc(100% - 113px), calc(100% + 20px));
  
  border-radius: 8px;
  background-color: #CEDFD5;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);

  ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
  gap: 16px 96px; 
    @include Body;
  }

  &::before {
    content: '';
    
    display: block;
    width: 32px;
    height: 32px;
    rotate: 45deg;

    position: absolute;
    top: -12px;
    left: 75px;
    
    background-color: #CEDFD5;    
  }
}
.profile_line {
margin: 11px 0 25px 0; 
position: relative;
min-width: 216px;
border-top: 1px solid $grey-color;

}
.icon {
  color: #029992;
  fill:#029992;
}
.not_panding {
  padding: 10px 0;
}


.link {
  color: #223E3C;
  white-space: nowrap;
}

.link:hover {
  font-weight: 700;
}
.link_profile {
  font-weight: 700;
}
