.slider {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1440px;

  &__swiper {
    max-width: 1280px;
    width: calc(100vw - 160px);

    @media screen and (min-width: 1080px) and (max-width: 1439px) {
      max-width: 1024px;
    }

    @media screen and (min-width: 768px) and (max-width: 1079px) {
      max-width: 754px;
    }

    @media screen and (max-width: 767px) {
      //width: calc(100vw - 40px);
      width: 100vw;
    }
  }

  &__list {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 24px;
  }

  &__leftBtn {
    margin: 0 24px 60px 0;
    z-index: 10;

    @media screen and (max-width: 767px) {
      margin: 0 -50px 60px 0;
    }
  }

  &__rightBtn {
    margin: 0 0 60px 24px;
    z-index: 10;

    @media screen and (max-width: 767px) {
      margin: 0 0 60px -50px;
    }
  }
}
