@use '../../globalStyle/variables' as v;
@use '../../globalStyle/mixins' as m;
.NotFound {
   min-height: calc(100vh - 545px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &_img {
    max-width: 830px;
    width: 100%;
    max-height: 550px;
    height: 100%;
   }
   &_header {
    @include m.Header;
    color: v.$black-color;
    margin-top: 16px;
    margin-bottom: 36px;
   }
   &_homeButton{
    margin-bottom: 172px;
   }
}