@import '../../../globalStyle/mixins.scss';

.title {
    @include Header;
    align-self: center;
}

.authorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.checkBox {
    @include Body;
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 16px;

    @media screen and (max-width: 1440px) {
        @include Body3;
    }
}

.linkWordButton {
    @media screen and (max-width: 1440px) {
        @include Body3;
    }
}
