@import '/src/globalStyle/variables.scss';
@import '../../../globalStyle/mixins.scss';

.wrapper {
  @include Body;
  display: inline;
  overflow-wrap: break-word;
}

.button {

  display: inline;
  color: $accent-color;
  text-decoration: underline;
  font-weight: 600;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

.withIcon {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;
}

.button:hover {
  opacity: 0.8;
}

.text {
  width: fit-content;
}
 